@font-face {
  font-family: "iconfont"; /* Project id 2736082 */
  src: url('iconfont.woff2?t=1639906299268') format('woff2'),
       url('iconfont.woff?t=1639906299268') format('woff'),
       url('iconfont.ttf?t=1639906299268') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e600";
}

.icon-tuichu:before {
  content: "\e601";
}

.icon-dingdan:before {
  content: "\e648";
}

.icon-flightmline:before {
  content: "\e615";
}

.icon-fukuan:before {
  content: "\e616";
}

.icon-jipiao:before {
  content: "\e66f";
}

.icon-jifen:before {
  content: "\e897";
}

.icon-huiyuanqia:before {
  content: "\e886";
}

.icon-lishihangcheng:before {
  content: "\e8d5";
}

.icon-tuipiao:before {
  content: "\e684";
}

.icon-wangfan:before {
  content: "\e6ae";
}

.icon-lishi:before {
  content: "\e63d";
}

.icon-geren:before {
  content: "\e617";
}

.icon-wancheng:before {
  content: "\e618";
}

.icon-tuipiao1:before {
  content: "\e8ba";
}

.icon-shijian:before {
  content: "\e8c5";
}

.icon-FlightNumber:before {
  content: "\e661";
}

.icon-jinbi:before {
  content: "\e619";
}

.icon-flight-takeoff-line:before {
  content: "\ea05";
}

.icon-flight-land-line:before {
  content: "\e681";
}

.icon-complete:before {
  content: "\e677";
}

.icon-t:before {
  content: "\e602";
}

.icon-icon-pinjiewancheng-14x14:before {
  content: "\e603";
}

.icon-icon-tianjia-14x14:before {
  content: "\e604";
}

.icon-icon-xiangqian-14x14:before {
  content: "\e605";
}

.icon-icon-xinjian-14x14:before {
  content: "\e606";
}

.icon-icon-guanlian-14x14:before {
  content: "\e607";
}

.icon-a-icon-jinggao-14x14:before {
  content: "\e608";
}

.icon-icon-pinjiezhong-14x14:before {
  content: "\e609";
}

.icon-icon-shanchu-14x14:before {
  content: "\e60a";
}

.icon-icon-xiangqian-14x14-1:before {
  content: "\e60b";
}

.icon-icon-guanbi-14x14:before {
  content: "\e60c";
}

.icon-icon-fanhui-14x14:before {
  content: "\e60d";
}

.icon-icon-fankui-14x14:before {
  content: "\e60e";
}

.icon-icon-yidong-14x14:before {
  content: "\e60f";
}

.icon-icon-zhankaishouqi-14x14:before {
  content: "\e610";
}

.icon-icon-shangchuan-14x14:before {
  content: "\e611";
}

.icon-icon-xianghou-14x14:before {
  content: "\e612";
}

.icon-icon-tuichubianji-14x14:before {
  content: "\e613";
}

.icon-a-icon-jinggaozhongfu-14x14:before {
  content: "\e614";
}

